.about-text {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.about-container {
    text-align: center;
    margin-top: 60px;
}
.content {
    font-size: 14px;
    margin-top: 20px;
}
.git-link {   
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 13px 18px 13px 10px;
    border-radius: 2px;
}
.git-img {
    margin: 60px 0 -8px 0;
    height: 3.3vh
}
span {
    padding-left: 15px;
    font-size: 16px;
}
@media (max-width: 900px){
    .about-text{
        font-size: 24px;
    }
    .git-link{
        padding: 8px;
    }
    .git-img{
        height: 2.8vh;
        margin: 60px 0 -6px 0;
    }
    span{
        font-size: 14px;
    }
}