.home-container {
    width: 70%;
    margin: auto auto 80px auto;
}
/* grid styles */
/* .products-grid {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    -ms-grid-rows: 300px 10px 300px 10px 300px;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-gap:20px;
} */
/*.card {
    border:1px rgba(0,0,0,.125) solid;
    padding: 40px;
    display: flex;
    flex-direction: column;
} */
.products-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.products-list li {
    min-width: 260px;
    flex: 30%;
    border:1px rgba(0,0,0,.125) solid;
    height: 370px;
    text-align: center;
    margin: 5px;
}
.products-list li:hover {
    text-decoration: none;
}
.product-img {
    max-width: 100%;
    max-height: 180px;
    margin-top: 15px;
}
h1{
    font-size: 26px;
    font-weight: lighter;
    margin: 40px 0 23px;
}
p {
    font-size: 16px;
    margin-top: 15px;
}
h3 {
    font-size: 24px;
    font-style: oblique;
    margin-top: 15px;
}
@media (max-width:592px){
    .products-list{
        margin: auto;
    }
}