.nav-ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
  }
  .nav-ul li {
    padding: 26px;
    font-size: 24px;
  }
  li:hover{
    text-decoration: underline;
  }
  a{
    color: black;
  }
  a:link {
    text-decoration: none;
}
  @media (max-width: 610px) {
    .nav-ul {
      flex-direction: column;
      text-align: center;
    }
    .nav-ul li {
      padding: 14px;
      font-size: 18px;
      margin-top: 0;
    }
  }